.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #61dafb;
}

.link-button {
    color: #282c34;
}

.link-button:hover {
    color: bisque;
    text-decoration: underline;
}

.logo {
    display: flex;
    align-items: center;
    padding: 0 2rem;
    gap: .5rem;
    color: #282c34;
    transition: all .3s ease-in;
}

.navbar-title {
    padding: 0 2rem;
}
